
//  Variables
$text-color: #555; 
$brown-color: #8F5E37;
$light-color: #f1f1f1;
$white-color: #fff;
$blue: #1a7aad;
$gray: rgb(65, 63, 63);
$transparent-grey: rgba(65, 63, 63, 0.76);


// Mixins

@mixin shadow ($shadow) {
    -ms-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin default-m-p {
    padding: 0;
    margin: 0;
}

@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
}